*, *::before, *::after {
    margin: 0;
    padding: 0;
}

.add-form {
    margin-bottom: 40px;
  }
  .form-control {
    margin: 20px 0;
  }
  .form-control label {
    display: block;
  }
  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  .form-control input:focus {
    outline: 0;
  }
  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  .btn:focus {
    outline: none;
    color: white;
  }
  .btn-block {
    display: block;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .app-header {
    font-family: "Josefin Sans", sans-serif;
  }

  .task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  .textBold {
    font-weight: bold;
  }
  .delIcon {
    color: red;
    cursor: pointer;
  }
  .editIcon {
    color: blue;
    cursor: pointer;
  }